.fit-picture {
  width: 250px;
}

body {
  background-color: #205489;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  background-color: #ffffff;
  text-align: center;
}

.navbar {
  background-color: #007bff;

}

.navbar a {
  color: #fff;
  padding: 5px;

}

.navbar a:hover {
  background-color: #f9f9f9;
  color: red;
}

h1,
h2 {
  text-align: center;
}



h1,
h2 {
  text-align: center;
}

ul li {
  list-style-type: none;
}

footer {
  font-family: Raleway;
  margin: 0 auto;
  padding: 5em 3em;
  text-align: center;
  background: #555;
}

.nomGrue{
  color: rgb(21, 174, 44);
}
.nomGrue2{
  color: rgb(44, 21, 175);
}
.nomGrue3{
  color: rgb(215, 154, 16);
}